<div mat-dialog-title>
  <h2 class="title">
    Share my profile
  </h2>
  <button class="action" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div mat-dialog-content cdkScrollable>

  <div class="pt-[5px] pb-5 pr-5 pl-5">

    <div class="my-[15px] p-5 rounded bg-[#f7f9fe]">

      <p class="title">
        Customize profile link
      </p>

      <ng-container *ngIf="!userInfo.publicProfile; else content">
        <p class="info">
          Set your profile as public to get the link.
        </p>
      </ng-container>

      <ng-template #content>

        <ng-container *ngIf="!editingLink; else editing">

          <div class="view-mode-container">
            <div>
              <a class="profile-link" target="_blank" [href]="profileUrl">
                {{ profileUrl }}
              </a>

              <button class="edit-button" (click)="editLink()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>

            <button class="button button-secondary" (click)="copyLink()">
              <mat-icon>content_copy</mat-icon>
              Copy Link
            </button>
          </div>
        </ng-container>

        <ng-template #editing>
          <div class="editing-mode-container">

            <div>
              <p class="origin-url"> {{ locationOrigin }} </p>

              <input class="username-input" type="text" [formControl]="usernameControl">

              <ng-container *ngIf="usernameControl.errors?.['required']">
                <p class="error-text"> Name is required </p>
              </ng-container>

              <ng-container *ngIf="usernameControl.errors?.['pattern']">
                <p class="error-text"> Invalid name </p>
                <p class="error-text">
                  dot(.)[optional] is acceptable and have to be in between text
                </p>
              </ng-container>
            </div>

            <div class="flex items-center gap-x-2.5">
              <button class="button button-secondary" (click)="editLink()">
                Cancel
              </button>
              <button class="button button-primary" (click)="updateProfileLink()">
                Save
              </button>
            </div>
          </div>
        </ng-template>
      </ng-template>

    </div>

    <div class="privacy-actions-container">

      <div>
        <p class="title">
          <ng-container *ngIf="!userInfo.publicProfile">
            Your profile link is private
          </ng-container>

          <ng-container *ngIf="userInfo.publicProfile">
            Your profile public
          </ng-container>
        </p>

        <p class="info">
          <ng-container *ngIf="!userInfo.publicProfile">
            People cannot access your profile link now.
          </ng-container>

          <ng-container *ngIf="userInfo.publicProfile">
            Anyone with this link can see it.
          </ng-container>
        </p>
      </div>

      <ng-container *ngIf="!userInfo.publicProfile">
        <button class="button button-link" (click)="changeProfileVisibility(true)">
          Set profile link as Public
        </button>
      </ng-container>

      <ng-container *ngIf="userInfo.publicProfile">
        <button class="button button-link" (click)="changeProfileVisibility(false)">
          Deactivate Link
        </button>
      </ng-container>

    </div>

  </div>
</div>
