.page-wrapper {
  padding: 3.5rem 3rem;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}


.test-button {
  padding: 3px 6px;
  border-radius: 15px;
  &:hover {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
}

