<app-top-nav [userInfo]="userInfo"></app-top-nav>

<div class="page-wrapper">
  <div class="wrapper">

    <ng-container *ngIf="userInfo">
      <app-personal-info [userInfo]="userInfo"></app-personal-info>

      <div class="mt-5" style="display: grid; grid-template-columns: 400px 1fr; grid-column-gap: 20px">
        <app-profile-privacy [userInfo]="userInfo"></app-profile-privacy>

        <app-work-experience [userInfo]="userInfo"></app-work-experience>
      </div>

    </ng-container>

  </div>
</div>
