<div class="personal-info-wrapper">

  <div class="flex">
    <img class="w-130 h-130 rounded-[50%] border-solid border-[1px] border-[#b5c5e6]"
         src="assets/images/profile/user-avatar.png" [alt]="'Johanur Rahman'">

    <div class="ml-5">
      <h3 class="name">Johanur Rahman</h3>
      <p class="title">Software Engineer</p>
      <p class="age">Age: {{ '25' }}</p>

      <div class="email-container flex items-center mt-5">
        <mat-icon class="icon">mail_outlined</mat-icon>
        <p class="text">john.smith@mail.com</p>
      </div>

    </div>
  </div>

  <div class="personal-info-actions">
    <button matTooltip="Edit personal information" class="mr-3" (click)="openDialog()">
      <mat-icon>edit</mat-icon>
    </button>

    <button matTooltip="Share profile">
      <mat-icon>share</mat-icon>
    </button>
  </div>

</div>
