<div class="card" *ngIf="editable">

  <div class="card__header">
    <h4>Experience</h4>
    <button *ngIf="editable" class="button button-secondary" (click)="add()">
      Add
    </button>
  </div>

  <div class="card__content">
    <ng-container *ngIf="workExperiences && workExperiences.length; else noExperience">
      <div class="experience-entry-container" *ngFor="let item of workExperiences">

        <div class="flex gap-x-[20px]">
          <img class="company-logo"
               [src]="item.companyLogo ?? '/assets/images/company/company.png'"
               [alt]="item.companyName">

          <div>
            <p class="title">
              {{ item.title }}
            </p>
            <p class="company-name">
              {{ item.companyName }}
            </p>
            <p class="duration">
              {{ item.startDate }} - {{ item.currentRole ? 'Present' :  item.endDate }}
            </p>
            <p class="description">
              {{ item.description }}
            </p>
          </div>
        </div>

        <button *ngIf="editable" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="update(item)">
            <span>Edit position</span>
          </button>
          <button mat-menu-item (click)="delete(item.id)">
            <span>Delete position</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>

    <ng-template #noExperience>
      <div class="bg-[#ebf0f6] rounded py-8 px-12">
        <p class="empty-text">
          Add your work experience and highlight your achievements in this section.
        </p>
      </div>
    </ng-template>
  </div>

</div>
