<div class="card">

  <div class="card__header">
    <h4>Experience</h4>
    <button class="button button-secondary" (click)="openDialog()">
      Add
    </button>
  </div>

  <div class="card__content">
    <ng-container *ngIf="userInfo.workExperiences">
      <div class="experience-entry-container" *ngFor="let item of userInfo.workExperiences">

        <img class="company-logo" [src]="item.companyLogo ?? '/assets/images/company/company.png'" [alt]="item.companyName">

        <div>
          <p class="title"> {{ item.title }} </p>
          <p class="company-name"> {{ item.companyName }} </p>
          <p class="duration" style="">
            {{ item.startDate }} - {{ item.current ? 'Present' :  item.endDate }}
          </p>
          <p class="description"> {{ item.description }} </p>
        </div>

      </div>
    </ng-container>
  </div>

</div>
