.button {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &-primary, &-secondary {
    font-size: 16px;
    font-weight: 500;
  }

  &-primary {
    color: #fff;
    background-color: #5c60f5;

    &:hover {
      background-color: rgba(92, 96, 245, 0.9);
    }
    &:disabled {
      color: #848484;
      background-color: #ececec;
      border: 2px solid #ececec;
      cursor: not-allowed;
    }
  }
  &-secondary {
    color: #5c60f5;
    background-color: #fff;
    border: solid 2px #5c60f5;

    &:hover {
      background-color: #f7f7f7;
    }

    &:disabled {
      color: #848484;
      background-color: #ececec;
      border: 2px solid #ececec;
      cursor: not-allowed;
    }
  }

  &-link {
    width: auto;
    height: auto;
    color: #5c60f5;
    font-weight: 500;
    padding: 3px 6px;
    border-radius: 15px;
    &:hover {
      background-color: #fcfcfc;
      border-color: #fcfcfc;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    }
  }
}
