<div mat-dialog-title>
  <h2 class="title">
    Personal Information
  </h2>
  <button class="action" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="personalInfoForm" (ngSubmit)="submit()">

  <div mat-dialog-content cdkScrollable>

    <div class="user-photo">
      <img [src]="imgUrl ?? '/assets/images/profile/user-avatar.png'" alt=""/>
      <button type="button" mat-mini-fab (click)="inputField.click()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <input #inputField hidden type="file" (change)="uploadImage($event)"/>

    <mat-form-field appearance="outline" class="w-full mb-1">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName"
             appDisableControl [disableControl]="submitting">

      <mat-error *ngIf="personalInfoForm.controls['firstName'].invalid" >
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-1">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName"
             appDisableControl [disableControl]="submitting">

      <mat-error *ngIf="personalInfoForm.controls['lastName'].invalid" >
        Last name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-1">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title"
             appDisableControl [disableControl]="submitting">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Age</mat-label>
      <input matInput type="text" formControlName="age" appNumbersOnly
             appDisableControl [disableControl]="submitting">

      <mat-error *ngIf="personalInfoForm.controls['age'].invalid" >
        Age is required
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button type="button" class="button button-secondary" (click)="closeDialog()">Cancel</button>
    <button type="submit" class="button button-primary ml-5">Save</button>
  </div>

</form>
