@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/styles/button.scss';
@import 'src/styles/dialog.scss';

html, body {
  height: 100%;
  background-color: rgb(247, 248, 252);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  background: #fff;
  border: 1px solid #dde0e5;
  box-shadow: 0 2px 20px rgb(212 216 232 / 52%);
  padding: 30px;
  border-radius: 4px;

  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    & > h4 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 0;
      color: #25252A;
    }
  }
}

.center-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
