<div class="card profile-privacy-container">
  <h4 class="title">My Profile</h4>

  <div class="flex justify-between items-center mt-6">

    <div class="flex items-center">
      <p class="info">Make my profile public</p>
      <mat-icon class="icon" [matTooltip]="tooltipContent">info</mat-icon>
      <button class="button button-link" (click)="openShareProfileDialog()">
        View
      </button>
    </div>

    <mat-slide-toggle color="primary"
                      [checked]="userInfo.publicProfile"
                      (change)="changeProfileVisibility($event)">
    </mat-slide-toggle>

  </div>

</div>
